@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium_italic';
    src: url('fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight_italic';
    src: url('fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold_italic';
    src: url('fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack_italic';
    src: url('fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-background: #cdd0dd;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'robotolight';
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
}

body {
    overflow: hidden;
    display: flex;
}

img {
    object-fit: cover;
    width: 30vw;
    height: 100vh;
}

.left-side {
    position: relative;
    display: inline-block;
    z-index: 10;
    text-align: center;
    width: 30vw;
    height: 100vh;
    flex: 1;
}

.side-image {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: auto;
}

.img-logo {
    position: absolute;
    height: 10%;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-shadow: 3px 3px 5px black;
    font-size: 1.6rem;
    margin: 1rem 3rem;
    gap: 1rem;
    
}

.img-footer {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: .2;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 2;
}
.title, .form, .submit {
    flex: 1;
}

.title {
    display: flex;
    align-items: end;
    padding: 0 10vw 2vh 4vw;
    background-color: var(--main-background);

}

.form {
    box-shadow: 0px 3px 8px rgb(116, 117, 117);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit {
    padding: 4vh 0 0 4vw;
    background-color: var(--main-background);
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.title-text {
    /* width: 50vw; */
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.tag-line {
    margin-top: 2rem;
}

.italic {
    font-family: 'robotomedium_italic';
}

.bold {
    font-family: 'robotobold';
}

h2 {
    font-family: 'robotomedium';
    font-size: 2rem;
}

.form-title {
    margin-bottom: 2rem;
}

.f1, .f2, .f3, .f4, .f5, .f6 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    width: 20vw;
}

.row1, .row2, .row3 {
    display: flex;
    margin-bottom: 1rem;
}

label {
    margin-bottom: .4rem;
    font-family: "robotomedium";
    font-size: 1rem;
}

.form {
    font-size: 1.3rem;
    line-height: 1.2;
    width: 70vw;
    display: flex;
    padding: 2rem 4vw;
    
}

input {
    border: 2px solid var(--main-background);
    border-radius: 5px;
    height: 2.8rem;
    padding-left: 1rem;
    font-family: "robotomedium";
    font-size: 1.3rem;
}

button {
    font-family: "robotomedium";
    padding: .7rem 3rem;
    font-size: 2rem;
    background-color: #2f3031;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 8px #727475;
    margin-bottom: 2rem;
}

.submit > p {
    font-family: "robotmedium";
    font-size: 2rem;
    color: black;
}

.submit > p > span {
    font-family: "robotbold";
    font-weight: 900;
    font-size: 2rem;
    color: #2f3031;
}

input:focus:valid {
    background-color: var(--main-background);
    outline: 2px solid rgb(19, 83, 221);
    box-shadow: 2px 2px 4px #2f3031;
    
}

input:focus:invalid {
    outline : 2px solid rgb(160, 9, 9);
    background-color: rgb(243, 177, 177);
}